@charset "utf-8";
#topNav {
	width:1009px;
	height:35px;
	padding-top:10px;
	padding-left:15px;	
}

#topNav a {
	color:red;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	display:inline-block;
	margin-right:15px;
	padding-top:10px;
}

#topNav a:hover {
	border-bottom:solid;
	border-bottom-width:2px;
	border-bottom-color:red;
}

#container {
	width:1024px;
	height:768px;
	margin-right:auto;
	margin-left:auto;
}

header {
	width:989px;
	height:95px;
	background-color:#000000;
	color:#FFFFFF;
	padding-top:35px;
	padding-left:35px;
}

#titlebar {
	width:1024px;
	height:50px;
	text-align:center;
	padding-top:15px;
	
}

#main {
	width:1024px;
	height:448px;
}

#innerMain {
	width:1024px;
	height:448px;
	background-color:red;
	border-radius:15px;
}

#content1 {
	width:312px;
	height:376px;
	float:left;
	padding-top:72px;
	padding-left:72px;
}

#content2 {
	width:640px;
	height:376px;
	float:right;
	padding-top:72px;
	overflow:hidden;
}

#titlebar {
	background-color:red;
}

footer {
	width:1024px;
	height:100px;
}

#bottomNav {
	width:1025px;
	height:40px;
	text-decoration:none;
	color:red;
	text-align:center;
	display:block;
	padding-top:10px;
}

#bottomNav a {
	color:red;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold;
	margin-right:15px;
}

#bottomNav a:hover {
	border-bottom:solid;
	border-width:2px;
	border-bottom-color:red;
}

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.5em;
	color:#333333;
}

h1 {
	font-family:Sarina;
	font-size:4em;
	margin-top:0px;
	color:red;
	text-align:center;
}

h2 {
	margin:0px;
	font-size:1.75em;
	color:white;
}


